body {
    background:#1E1E1E ;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    background: linear-gradient(-175deg, blanchedalmond, blanchedalmond 50%,#1E1E1E calc(50% + 1px), #1E1E1E 100% );
}

h1 {
    position: relative;
    top: 23px;
    left: 60px;
    margin: 0;
    padding: 0;
    rotate: 5deg;
}

h4{
    margin: 3px;
}

ul{
    margin: 0;
    padding-left:9%;
}

.top {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

#input-btn {
    border:none;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-left: 1em;
    background-color: orange;
}

.middle{
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.card {
    display: grid;
    margin:10px;
    height: 300px;
    width:200px;
    background-color: white; 
}

.addBtn{
    border: none;
    font-size: larger;
    background-color: orange
}
  

img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    align-self: center;
}

.bottom {
    text-align: center;
    margin-top: 100px;
}

.recipe-list{
    height: 100px;
    width: 95%;
    background-color: white;
    padding:10px;
    text-align: left;
    margin:10px;
    
}
.recipe-list .recipe{
   float: left;
   margin: 10px;
}




