body {
    background:#1E1E1E ;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

header {
    margin: 0;
    padding: 0;
    text-align: center;
}
nav {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 8vh;
    background: linear-gradient(-175deg, blanchedalmond, blanchedalmond 50%,#1E1E1E calc(50% + 1px), #1E1E1E 100% );
}

h1 {
    position: relative;
    top: 23px;
    left: 60px;
    margin: 0;
    padding: 0;
    rotate: 5deg;
}

.top {
    display: flex;
    justify-content: center;
    height: 10vh;
    align-items: center;
}

#input-btn {
    border:none;
    border-radius: 50%;
    height: 2em;
    width: 2em;
    margin-left: 1em;
    background-color: orange;
}

.middle{
    height: 55vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.card{
    display:inline-block;
    margin: 10px;
    height: 20vh;
    width: 30vw;
    background-color: white;
}

img{
    display:flex;
    width: 100%;
    height: 90%;
    object-fit: fill;
    align-self: center;
}
p {
  display: flex;
  width: 100%;
  justify-content: center;
  
  margin: 0;
}

.bottom {
    margin: 10px;
    display:flex;

}


ul {
    margin: 5vh;
    list-style: none;
    height: 6vh;
    width: 50vw
}

li {
    margin: 10px;
    height: 6vh;
    width: 50vw;
    background: white;
}
